.overlay{
    position: fixed;
    background-color: rgba(0, 0, 255, 0.2);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: all;
}

dialog{
    position: fixed;
    z-index: 3000;
    height: 95%;
    max-width: 75vw;
    background-color: #03122F;
    padding: 0 180px;
    top: 10px;
    border: 2px solid #2271D1;
    border-radius: 15px;
}

.fechar{
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 42px;
    cursor: pointer;
}

dialog h1{
    font-size: 60px;
    color: #2271D1;
    margin: 25px;
}

label{
    margin-top: 20px;
    display: block;
    color: white;
    font-weight: bold;
}

input, select, textarea{
    width: 100%;
    height: 30px;
    background: none;
    border: 2px solid #2271D1;
    border-radius: 10px;
    color: #A5A5A5;
}

textarea{
    height: 60px;
    font-family: var(--fonte);
}

.botoes{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}